*{
    font-family: 'Montserrat', sans-serif !important;
}

.conteneur-base{
    min-height: 80vh;
}

@media screen and (max-width: 950px) {
    table, th, td, tr, thead {
        font-size:1.5vw !important;
    }
}