

<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories de produits</a>
	<div class="dropdown-menu">

        {% for cat in categories.findAll() %}
		    <a class="dropdown-item" href="#">{{ cat.nom }}</a>
        {% endfor %}
        
	</div>
</li>
